extends main-layout.pug
block content
  div(style='text-align: left;color:#6f7283;font-size:14px;line-height: 20px;font-weight: 400;')
    p Dear #{firstName},
    p
      | Congratulations on signing up for the 
      strong 5 Core Competencies Program.
    p
      strong Please be sure to check the confirmation email for next steps and to start scheduling your courses.
    p You will be prompted to log into your account to schedule your courses.
    p Please see below your username and temporary password to log into your account.
    br
    p(style='color:#000000;')
      strong Username: 
      |  #{email}
      br
      strong Temporary password: 
      |  #{codeParameter}
    br
    p If you have any questions, feel free to reach out to us.
    p 
      | Email: support@us.artofliving.org
      br 
      | Phone: (855) 202-4400
    p 
      |With you on the journey,
    p
      | Sarah,
      br
      | Art of Living Team