extends main-layout.pug
block content
  div(style='text-align: left;color:#6f7283;font-size:14px;line-height: 20px;font-weight: 400;')
    p Hi #{firstName},
    p
      | Welcome to the Art of Living! 
      br
      br
      | We`ve created your new profile on our 
      a(style='color: #fda249; text-decoration: none', href='https://members.us.artofliving.org/us-en/lp/journey-app') Journey App
    p(style='color:#000000;')
      strong Username: 
      |  #{email}
      br
      strong Temporary password: 
      |  #{codeParameter}p
    p
      a(style='color: #fda249; text-decoration: none', href='https://members.us.artofliving.org/login?mode=RESET_PASSWORD_REQUEST') Reset your password
    p
      i 
        a(style='color: #fda249; text-decoration: none', href='https://members.us.artofliving.org/us-en/lp/journey-app') What`s on the Journey App?
      br
      |  Discover an inspiring ecosystem of guided meditations, breathing exercises, mind-bending insights, and more-right at your fingertips!
      br
      br
      a(style='color: #fda249; text-decoration: none', href='https://members.us.artofliving.org/us-en/lp/journey-app') Activate your free 14-day trial
    p 
      |With you on the journey,
    p
      | Sarah
      br
      | Art of Living Team