extends main-layout.pug
block content
  h3(style='text-align:center;')
    | Temporary Password
  p(style='color:#808080;text-align:center;font-size:14px')
    | Your username is 
    strong(style='color:#000000;')
      | #{email}
    |  and temporary password is 
    strong(style='color:#000000;')
      | #{codeParameter}
  br
  br
  p(style='color:#808080;text-align:center;font-size:14px')
    | Thanks!
    br
    strong
      | Art of Living Journey
  hr(style="border:2px solid #eaeef3;border-bottom:0;margin:20px 0")
  p(style="text-align:center;color:#a9b3bc;font-size:12px;")
    | If you did not make this request, please contact us by replying to this mail.