extends main-layout.pug
block content
  div(style='text-align: left;color:#6f7283;font-size:14px;line-height: 20px;font-weight: 400;')
    p(style='color:#000000;')
      b Username: 
      |  #{email}
      br
      b Temporary password: 
      |  #{codeParameter}