extends main-layout.pug
block content
  h3(style='text-align:center;')
    | Password Change Request
  p(style='color:#808080;text-align:center;font-size:14px;')
    | You have submitted a password change request!
  p(style='color:#808080;text-align:center;font-size:14px;')
    | If it wasn't you please disregard this email and make sure you can still login to your account. If it was you, then 
    strong
      | confirm the password change using verification code.
  p(style='color:#808080;text-align:center;font-size:14px')
    | Your verification code is 
    strong(style='color:#000000;')
      | #{codeParameter}
  br
  br
  p(style='color:#808080;text-align:center;font-size:14px')
    | Thanks!
    br
    strong
      | Art of Living Journey
  hr(style="border:2px solid #eaeef3;border-bottom:0;margin:20px 0")
  p(style="text-align:center;color:#a9b3bc;font-size:12px;")
    | If you did not make this request, please contact us by replying to this mail.