extends main-layout.pug
block content
  div(style='text-align: left;color:#6f7283;font-size:14px;line-height: 20px;font-weight: 400;')
    h3
      | Password Change Request
    p(style='color:#808080;font-size:14px;')
      | You have submitted a password change request!
    p(style='color:#808080;font-size:14px;')
      | If it wasn't you please disregard this email and make sure you can still login to your account. If it was you, then 
      strong
        | confirm the password change using verification code.
    p(style='color:#808080;font-size:14px')
      | Your verification code is 
      strong(style='color:#000000;')
        | #{codeParameter}
    br
    br
    p(style='color:#808080;font-size:14px')
      | Thanks!
      br
      strong
        | Art of Living Journey