div(style='max-width: 600px!important; margin: 0 auto; padding: 10px')
  div(style='text-align: center;margin: 40px 0px')
    img(align='center' data-assetid='127087' src='http://image.e.artofliving.org/lib/fe3b157075640679711273/m/1/1a5bbb9f-24e2-4a37-bedf-069573235363.png' height='38' width='100' style='padding: 0px; text-align: center; height: 38px; width: 100px; border: 0px;')
  block content
