doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Email Template
    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      p {
        margin-bottom: 1em;
      }
      strong {
        font-weight: bold;
      }
  body
    div(style='max-width: 600px!important; margin: 0 auto; padding: 10px')
      block content
      div(style='text-align: center;')
        table(width='100%')
          tbody
            tr
              td(width='15%')
              td(width='70%')
                img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/2cc4d7b9-227882fd-1cd8-4643-a510-365efd87fb3e.png', alt='Art of Living Logo', style='max-width: 100%; height: auto;')
              td(width='15%')
        br
        div 
          table(style="margin:auto;")
            tbody
              tr
                td
                  a(href='https://www.facebook.com/ArtofLivingUSA/')
                    img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/a49c3ef7-1a560d12-c8d7-40cb-9e90-9df36933fdfa_100r00r000000000000028.png', alt='Facebook', style='display: block;')
                td
                  a(href='https://www.youtube.com/channel/UCDTYowkOm5nErMYyKsvD_6Q')
                    img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/5cc439c7-287abafd-6473-47a9-b05b-30526dc265fd_100r00r000000000000028.png', alt='YouTube', style='display: block;')
                td
                  a(href='http://instagram.com/artoflivingusa')
                    img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/51838328-0e6fddf1-c205-4752-ad42-e9dc03c83dea_100r00r000000000000028.png', alt='Instagram', style='display: block;')
              tr
                td(colspan='3', style='text-align: center;')
                  a(href='https://www.artofliving.org/us-en', style='color:#808080;text-decoration:none;')
                    span(style="font-weight: 400; font-size: 18px; color: rgb(85, 85, 85);") artofliving.org
              tr
                td(colspan='3', style='text-align: center;')
                  a(href='https://www.artofliving.org/us-en')
                    img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/803c9e76-aol-logo-2020_103q01f000000000000028.png', alt='Art Of Living', style='display: block; max-width: 100%; height: auto;')
