div(style='max-width: 600px!important; margin: 0 auto; padding: 10px')
  //- div(style='text-align: center;margin: 40px 0px')
  //-   img(align='center' data-assetid='127087' src='http://image.e.artofliving.org/lib/fe3b157075640679711273/m/1/1a5bbb9f-24e2-4a37-bedf-069573235363.png' height='38' width='100' style='padding: 0px; text-align: center; height: 38px; width: 100px; border: 0px;')
  block content
  div(style='text-align: center;')
    table(width='100%')
        tbody
          tr
            td(width='15%')
            td(width='70%')
              img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/2cc4d7b9-227882fd-1cd8-4643-a510-365efd87fb3e.png')
            td(width='15%')
    table(width='100%')
      tbody
        tr
          td
            a(href='https://www.artofliving.org/us-en/courses', title='Retreats Transformation', alias='Retreats Transformation', conversion='false', data-linkto='https://', style='text-decoration: none;')
              table(width='100%')
                tbody
                  tr
                    td(style='width: 30%;')
                      img(data-assetid='100244', src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/708d5f48-2b13226d-9219-4b3f-b1b2-b42000c4f229_100000001m01l00500b000.jpg', style='display: block; padding: 0px; text-align: center; height: auto; border: 0px;')
                    td(style='width: 70%;')
                      span(style="font-weight: 600; font-family: 'Work Sans','Verdana'; font-size: 16px; color: rgb(111, 114, 131); font-style: normal;") Retreats
                      span(style="font-weight: 400; font-family: 'Work Sans','Verdana'; font-size: 14px; color: rgb(111, 114, 131); font-style: normal; display: block;") Transformation
          td
            a(href='https://event.us.artofliving.org/us-en/journey-app/', title='Journey App Meditation', alias='Journey App Meditation', conversion='false', data-linkto='https://', style='text-decoration: none;')
              table(width='100%')
                tbody
                  tr
                    td(style='width: 30%;')
                      img(data-assetid='99859', src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/045228de-3455fe8b-ce49-4e83-a194-179729a1ced8_100000001p01k00400a000.jpg', style='display: block; padding: 0px; text-align: center; height: auto; border: 0px;')
                    td(style='width: 70%;')
                      span(style="font-weight: 600; font-family: 'Work Sans','Verdana'; font-size: 16px; color: rgb(111, 114, 131); font-style: normal;") Journey App
                      span(style="font-weight: 400; font-family: 'Work Sans','Verdana'; font-size: 14px; color: rgb(111, 114, 131); font-style: normal; display: block;") Meditation
          td
            a(href='https://www.artofliving.org/us-en/blog', title='Insight Get Inspired', alias='Insight Get Inspired', conversion='false', data-linkto='https://', style='text-decoration: none;')
              table(width='100%')
                tbody
                  tr
                    td(style='width: 30%;')
                      img(data-assetid='100245', src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/7d3c1e8e-9774d10f-f64c-4a56-be16-f049fff42199_100000001o01o002005000.jpg', style='display: block; padding: 0px; text-align: center; height: auto; border: 0px;')
                    td(style='width: 70%;')
                      span(style="font-weight: 600; font-family: 'Work Sans','Verdana'; font-size: 16px; color: rgb(111, 114, 131); font-style: normal;") Insight
                      span(style="font-weight: 400; font-family: 'Work Sans','Verdana'; font-size: 14px; color: rgb(111, 114, 131); font-style: normal; display: block;") Get Inspired
    br
    br
    div 
      table(style="margin:auto;")
        tbody
          tr
            td(align='left')
              a(href='https://www.facebook.com/ArtofLivingUSA/', alias='Facebook Follow')
                img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/a49c3ef7-1a560d12-c8d7-40cb-9e90-9df36933fdfa_100r00r000000000000028.png', alt='Facebook', style='display: block;')
            td(align='center')
              a(href='https://www.youtube.com/channel/UCDTYowkOm5nErMYyKsvD_6Q', alias='Youtube Follow')
                img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/5cc439c7-287abafd-6473-47a9-b05b-30526dc265fd_100r00r000000000000028.png', alt='YouTube', style='display: block;')
            td(align='right')
              a(href='http://instagram.com/artoflivingusa', alias='Instagram Follow')
                img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/51838328-0e6fddf1-c205-4752-ad42-e9dc03c83dea_100r00r000000000000028.png', alt='Instagram', style='display: block;')
          tr
          tr
            td(align='center', colspan='3')
              a(alias='www.artofliving.org', conversion='false', data-linkto='https://', href='https://www.artofliving.org/us-en', style='color:#808080;text-decoration:none;font-weight: 400; font-family: Verdana,Helvetica,Arial,sans-serif;', title='www.artofliving.org')
                span(style="font-weight: 400; font-family: 'Work Sans'; font-size: 18px; color: rgb(85, 85, 85);") artofliving.org
          tr
          tr
            td(align='center', colspan='3')
              a(href='https://www.artofliving.org/us-en', title='The Art Of Living', alias='Art Of Living', conversion='false', data-linkto='https://')
                img(src='https://d9hhrg4mnvzow.cloudfront.net/event.us.artofliving.org/ui-kit/803c9e76-aol-logo-2020_103q01f000000000000028.png', alt='Art Of Living', style='display: block;')
      